<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName">
        <a href="../"><span class="glyphicon glyphicon-home"></span></a>
        <a href="index.html"> <?js= env.conf.templates.applicationName ?></a>
    </h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
    <?js
    this.nav.forEach(function (item, index, nav) {
        if(index<1 || item.longname !== nav[index-1].longname){
    ?>
            <li class="item" data-name="<?js= item.longname ?>">
                <span class="title">
                    <?js= self.linkto(item.longname, item.longname) ?>
                    <?js if (item.type === 'namespace') { ?>
                    <span class="static">static</span>
                    <?js } ?>
                </span>
                <ul class="members itemMembers">
                <?js
                if (item.members.length) {
                ?>
                <span class="subtitle">Члены</span>
                <?js
                    item.members.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                }
                ?>
                </ul>
                <ul class="typedefs itemMembers">
                <?js
                if (item.typedefs.length) {
                ?>
                <span class="subtitle">Типы</span>
                <?js
                    item.typedefs.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                }
                ?>
                </ul>
                <ul class="methods itemMembers">
                <?js
                if (item.methods.length) {
                ?>
                <span class="subtitle">Методы</span>
                <?js

                    item.methods.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                }
                ?>
                </ul>
                <ul class="events itemMembers">
                <?js
                if (item.events.length) {
                ?>
                <span class="subtitle">События</span>
                <?js
                    item.events.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                    });
                }
                ?>
                </ul>
            </li>
    <?js
        }
    });
    ?>
    </ul>
</div>